.env
/laTiendaVitual/categorias/migrations/
/laTiendaVitual/laTiendaVitual/__pycache__/
/laTiendaVitual/categorias/__pycache__/
/laTiendaVitual/productos/__pycache__/
/laTiendaVitual/productos/migrations/